<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    
    <%for(i of event){%>
        <a href="/<%= i.number %>"><%= i.name %></a><br>
    <%}%>
    
</body>
</html>