<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>

    <% if(!locals.user){ %>
        <button><a href="/users/sign-in">Sign-In</a></button>
        <button><a href="/users/sign-up">Sign-Up</a></button>
    <% }else{ %>
        <button><a href="/users/dashboard">Dashboard</a></button>
        <button><a href="/users/sign-out">Sign-Out</a></button>
    <% } %>
    <br><br><br>
    Welcome to Rhythm 2020
</body>
</html>