
    <div class="hero-content">
        <div class="container">
            
            <div class="row">
                <div class="col-12 ">
                    <div class="entry-footer">
                        <a href="/event-list" class="btn current">Register For Events</a>
                    </div>
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .hero-content -->

    <div class="content-section">

        <div class="home-about-section">
            <div class="home-about-section-content">
                <h1 class="text-center"><b>About</b></h1>
                <p>
                    Rhythm is organized every year at Deenbandhu Chhotu Ram University of Science and Technology, Murthal with the intent to bring together the creativity and talent of youth from different colleges/institutions.

                    Rhythm provides an excellent platform for students to exhibit their
                    
                    creativity. At the same time, Rhythm provides an opportunity for students to enhance their leadership traits, mutual understanding, co-operation. The outstanding artists are selected during Rhythm by a Selection Committee for further participation in the Inter-University North Zone and then at the National level youth festivals organized by the Association of Indian Universities.
                </p>
            </div>
            <div class="home-about-section-photo">
                <img src="images/IMG20181031001442.jpg" height = "362px" width ="419px" alt="">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="lineup-artists-headline">
                        <div class="entry-title text-center">
                            <!-- <p>JUST THE BEST</p> -->
                            <h2>Events!!</h2>
                        </div><!-- entry-title -->

                        <div class="lineup-artists">
                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="/event-list" target="_blank"> <img height = "419px" width ="362px"  src="images/IMG20181030221409.jpg" alt=""> </a>
                                </figure><!-- featured-image -->

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Theatre
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>All the world's a stage,
                                                And all the men and women merely players;
                                                They have their exits and their entrances,
                                                And one man in his time plays many parts <br>Be the part of one the most interesting events</p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href="/event-list" target="_blank"><img src="images/unnamed3.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->
                            </div><!-- lineup-artists-wrap -->

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <div class="lineup-artists-description">
                                    <figure class="featured-image d-md-none">
                                        <a href="/event-list" target="_blank"> <img height = "419px" width ="362px" src="images/IMG20181030232744.jpg" alt=""> </a>
                                    </figure><!-- featured-image -->

                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Dance
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>Consciousness expresses itself through creation. This world we live in is the dance of the creator. Dancers come and go in the twinkling of an eye but the dance lives on.</p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href="/event-list" target="_blank"><img src="images/unnamed3.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->

                                <figure class="featured-image d-none d-md-block">
                                    <a href="/event-list" target="_blank"> <img height = "419px" width ="362px" src="images/IMG20181030232744.jpg" alt=""> </a>
                                </figure><!-- featured-image -->
                            </div><!-- lineup-artists-wrap -->

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="/event-list" target="_blank"> <img height = "419px" width ="412px" src="images/IMG20181030180341.jpg" alt=""> </a>
                                </figure><!-- featured-image -->

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Music
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>To live is to be musical, starting with the blood dancing in your veins. Everything living has a rhythm. Do you feel your music? Yes or no whatever is your answer is but here at rhythm you will definitely feel it!!</p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href="/event-list" target="_blank"> <img src="images/unnamed3.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->
                            </div><!-- lineup-artists-wrap -->
                        </div><!-- lineup-artists -->
                    </div><!-- lineup-artists-headline -->
                </div><!-- col-12 -->
                <div class="container text-center event-button">
                    <a href="#"></a><button>And Lots More!!</button>
                </div>
            </div><!-- row -->

        <div id="Gallery" class="homepage-next-events">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title text-center">
                            <p>Some Highlights</p>
                            <h2>Gallery</h2>
                        </div><!-- entry-title -->
                    </div><!-- col-12 -->
                </div><!-- row -->
            </div><!-- container -->

            <div class="next-event-slider-wrap">
                <div class="swiper-container next-event-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="next-event-content">
                                <figure class="featured-image">
                                    <img height="210px" width="450px" src="images/IMG20181031224057.jpg" alt="">
                                </figure><!-- featured-image -->
                            </div><!-- next-event-content -->
                        </div><!-- swiper-slide" -->

                        <div class="swiper-slide">
                            <div class="next-event-content">
                                <figure class="featured-image">
                                    <img height="210px" src="images/20200227_165329.jpg" alt="">
                                </figure><!-- featured-image -->
                            </div><!-- next-event-content -->
                        </div><!-- swiper-slide" -->

                        <div class="swiper-slide">
                            <div class="next-event-content">
                                <figure class="featured-image">
                                    <img height="210px" width="450px" src="images/IMG-20191109-WA0019.jpg" alt="">
                                </figure><!-- featured-image -->
                            </div><!-- next-event-content -->
                        </div><!-- swiper-slide" -->

                        <div class="swiper-slide">
                            <div class="next-event-content">
                                <figure class="featured-image">
                                    <img height="210px" width="450px" src="images/0b06ca26-43ab-4b02-9c25-c0bf512a9969.jpg" alt="">
                                </figure><!-- featured-image -->
                            </div><!-- next-event-content -->
                        </div><!-- swiper-slide" -->

                        <div class="swiper-slide">
                            <div class="next-event-content">
                                <figure class="featured-image">
                                    <img height="210px" width="450px" src="images/1da8d279-8619-4d84-b648-5fc92ac4a23c.jpg" alt="">
                                </figure><!-- featured-image -->
                            </div><!-- next-event-content -->
                        </div><!-- swiper-slide" -->

                        <div class="swiper-slide">
                            <div class="next-event-content">
                                <figure class="featured-image">
                                    <img height="210px" width="450px" src="images/IMG20181030232744.jpg" alt="">
                                </figure><!-- featured-image -->
                            </div><!-- next-event-content -->
                        </div><!-- swiper-slide" -->
                    </div><!-- .swiper-wrapper -->
                </div><!-- .swiper-container -->

                <div class="swiper-button-next">
                    <img src="images/unnamed (2).png" alt="">
                </div><!-- .slider-button -->
            </div><!-- .next-event-slider-wrap -->
        </div><!-- homepage-next-events -->
    </div>
</div>
    
    <footer id="Contact" class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>RHYTHM</h2>
        </div>

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <a href="#">RHYTHM</a>
                        </div>

                        <div class="entry-mail">
                            <a href="#">gmail@gmail.com</a>
                            <a href="#">+91 80593 57147</a>
                            <a href="#">+91 99922 32344</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

