<!DOCTYPE html>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rhythm 2k20</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- FontAwesome CSS -->
    <!-- <link rel="stylesheet" href="css/fontawesome-all.min.css"> -->

    <!-- Swiper CSS -->
    <!-- <link rel="stylesheet" href="css/swiper.min.css"> -->

    <!-- Styles -->
    <!-- <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="profile.css"> -->
<!-- </head>
<body> -->
    <link rel="stylesheet" href="/css/profile.css">
    <header class="site-header">
        <div class="header-bar" style="background : rgb(0,0,0);">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="#">Rhythm </a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="#">HOME</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Sign-In</a></li> 
                                <li><a href="#">Sign-Up</a></li>
                                <li><a href="#">Profile</a></li> 
                                <li><a href="#">Sign-Out</a></li>  
                            </ul>
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->
    <section class="space">

    </section>

    <section class="main-section">
        <div class="main-profile-division">
            <div class="profile-details-section text-center">
                <img src="./images/unnamed5.png" alt="Avatar">
                <div class="profile-details-section-details container text-center">
                    <br>
                    <h5>Name of Student</h5>
                    <h5>College of the Student</h5>
                    <h5>Roll Number</h5>
                    <br>
                    <a href=""><button>Update profile</button></a>
                    <h5></h5>
                </div>

            </div>
            <div class="registered-events-section">
                <div class="flip-card-event-registered">
                    <div class="flip-card-event-registered-inner">
                        <div class="flip-card-event-registered-front">
                          <h5>Name of the event</h5>
                          <h5>Team Code for the event</h5>
                          <h4></h4>
                        </div>
                        <div class="flip-card-event-registered-back">
                            <br><br>
                          <a href=""><button>Visit the event details</button></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>