
    <div class="users-sign-up-container">
      <form id="users-sign-up-contact" action="/users/create" method="post">
        <fieldset>
          <input
            placeholder="Your Name"
            type="text"
            tabindex="2"
            name="name"
            required
          />
        </fieldset>
        <fieldset>
          <input
            placeholder="Your Phone"
            type="tel"
            tabindex="2"
            name="phone"
            required
          />
        </fieldset>
        <fieldset>
          <input
            placeholder="Your Email Address"
            name="email"
            type="email"
            tabindex="2"
            required
          />
        </fieldset>
        <fieldset>
          <input
            placeholder="Your University/College"
            type="text"
            tabindex="2"
            name="college"
            required
          />
        </fieldset>
        <fieldset>
          <input
            placeholder="Your Roll No."
            type="text"
            tabindex="2"
            name="rollNumber"
            required
            name="rollno"
          />
        </fieldset>
        <fieldset>
          <input
            placeholder="Your Branch"
            type="text"
            tabindex="2"
            name="branch"
            required
          />
        </fieldset>
        <fieldset>
          <input
            placeholder="Your Year"
            type="number"
            tabindex="2"
            name="year"
            required
            min="1"
            max="5"
          />
        </fieldset>
        <fieldset>
          <select placeholder="Gender" tabIndex = "2" name = "gender" required >
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </fieldset>
        <fieldset>
          <input
            placeholder="Your Password"
            name="password"
            type="password"
            tabindex="4"
            required
          />
        </fieldset>
        <fieldset>
          <input
            placeholder="Confirm Password"
            name="re_password"
            type="password"
            tabindex="4"
            required
          />
        </fieldset>
        <fieldset>
          <button
            name="submit"
            type="submit"
            id="contact-submit"
            data-submit="...Sending"
          >
            Register
          </button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
