
    <form action="/users/update-profile" method="post">
        <%= user.email %>
        <input type="text" name="name" placeholder="new name">
        <input type="submit" value="Update">
    </form>