body {
  font-family: "Lobster", cursive;
}
@font-face{
  font-family: samarkan;
  src : url('../webfonts/SamarkanOblique-BXew.ttf');
}
#single-events-event {
  background-image: url("tomail2.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  width: auto;
  width: 100%;
  min-height: 1000px;
  color: black;
}
.single-event-button{
    cursor: pointer;
    padding:10px 20px 10px 20px;
    background: #fdc435;
    border : none;
    outline: none;
    transition: 0.5s ease;
}
.single-event-button:hover{
  background: #ed1b24;
    color : white;
}
.single-events-details {
  text-align: center;
}
.single-event-page-title{
  font-family: samarkan;
  color: #ed1b24;
}